In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Creating a content base reccomandation system- Gerner based

In [2]:
movies=pd.read_csv(r"C:\Users\bibhu\Desktop\Python\rcommended System\Netflix_content base\tmdb_5000_movies.csv\tmdb_5000_movies.csv")
credits=pd.read_csv(r"C:\Users\bibhu\Desktop\Python\rcommended System\Netflix_content base\tmdb_5000_credits.csv\tmdb_5000_credits.csv")

In [3]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [4]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [5]:
#combining both file for study
movies=movies.merge(credits,on='title')

In [6]:
#keeping importnat colomns from movie to study
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [7]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [9]:
movies.shape

(4809, 7)

In [10]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [11]:
movies=movies.dropna()

## Data cleaning

In [12]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [13]:
import ast #required to comvert string to int; we will call literal_evalx() to convert to int
def convert(x):
    l=[]
    for i in ast.literal_eval(x):
        l.append(i['name'])
    return l

In [14]:
movies['genres']=movies['genres'].apply(convert)

In [15]:
movies['keywords']=movies['keywords'].apply(convert)

In [16]:
import ast #required to comvert string to int; we will call literal_evalx() to convert to int
def convert_cast(x):
    l=[]
    counter=0
    for i in ast.literal_eval(x):
        if counter<3:
            l.append(i['name'])
            counter+=1
        else:
            break
        
    return l

In [17]:
movies['cast']=movies['cast'].apply(convert_cast)

In [18]:
import ast #required to comvert string to int; we will call literal_evalx() to convert to int
def convert_crew_director(x):
    l=[]
    for i in ast.literal_eval(x):
        if i['job']=='Director':
            l.append(i['name'])
    return l

In [19]:
movies['crew']=movies['crew'].apply(convert_crew_director)

In [20]:
#convertig the 'overview' to a list
movies['overview']=movies['overview'].apply(lambda x: x.split())

In [21]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [22]:
#creating a tag
movies['tag']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [23]:
new_df=movies[['movie_id','title','tag']]

In [24]:
#joining the tags at space
new_df['tag']=new_df['tag'].apply(lambda x:" ".join(x))

C:\Users\bibhu\AppData\Local\Temp\ipykernel_19896\3471097880.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']=new_df['tag'].apply(lambda x:" ".join(x))

In [25]:
#converting the tags to lower case
new_df['tag']=new_df['tag'].apply(lambda x:x.lower())

C:\Users\bibhu\AppData\Local\Temp\ipykernel_19896\3025981584.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']=new_df['tag'].apply(lambda x:x.lower())

In [26]:
# applying steming technique to convert similar kind of word in a same word like action, actions 
# natural language preprocessing "nltk"
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [27]:
#helping function for stemming
def stem(text):
    l=[]
    for i in text.split():
        l.append(ps.stem(i))
    return " ".join(l)

In [28]:
new_df['tag']=new_df['tag'].apply(stem)

C:\Users\bibhu\AppData\Local\Temp\ipykernel_19896\599176683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']=new_df['tag'].apply(stem)

### Data vectorization for similarity based on tags
- techniques -->
    * bag of wards
    * tfidf
    * word2vec

In [29]:
#bag of wards
from sklearn.feature_extraction.text  import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')
vectors=cv.fit_transform(new_df['tag']).toarray() # convert 'toarray' as the output in sparce matrix

In [30]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [31]:
# similarty matrix for vector
from sklearn.metrics.pairwise import cosine_similarity
similirity=cosine_similarity(vectors)

In [32]:
similirity.shape

(4806, 4806)

In [33]:
# recommendation function
def recommendation(movie):
    movies_index=new_df[new_df['title']==movie].index[0]
    distance=similirity[movies_index]
    movies_list=sorted(list(enumerate(distance)),reverse=True,key= lambda x:x[1])[1:6] #top five movies

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [34]:
recommendation('Batman Begins')

The Dark Knight
Batman
Batman
The Dark Knight Rises
10th & Wolf

In [35]:
import pickle

In [36]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [37]:
pickle.dump(similirity,open('similirity.pkl','wb'))

In [41]:
# pip install bz2file

In [42]:
# To compress the pickel file
# import bz2file as bz2

In [47]:
# with bz2.BZ2File('similirity' + '.pbz2', 'w') as f:
#     pickle.dump(similirity, f)

In [49]:
# To decompress
# data = bz2.BZ2File('similirity.pbz2', 'rb')
# data = pickle.load(data)

In [56]:
# data

In [54]:
# import gzip

In [53]:
# pip install indexed-gzip

In [55]:
# with gzip.open('similirity.pkl.gz', 'wb') as f:
#     pickle.dump(similirity, f)